<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wyh.p2p.generator.mapperInterface.P2pProductMapper" >
  <resultMap id="BaseResultMap" type="com.wyh.p2p.generator.entities.P2pProduct" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="lowest_money" property="lowestMoney" jdbcType="DOUBLE" />
    <result column="rate" property="rate" jdbcType="REAL" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="timeline" property="timeline" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="all_money" property="allMoney" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, lowest_money, rate, state, timeline, title, all_money
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wyh.p2p.generator.entities.P2pProductExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from p2p_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from p2p_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from p2p_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wyh.p2p.generator.entities.P2pProductExample" >
    delete from p2p_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wyh.p2p.generator.entities.P2pProduct" >
    insert into p2p_product (id, lowest_money, rate, 
      state, timeline, title, 
      all_money)
    values (#{id,jdbcType=INTEGER}, #{lowestMoney,jdbcType=DOUBLE}, #{rate,jdbcType=REAL}, 
      #{state,jdbcType=TINYINT}, #{timeline,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{allMoney,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.wyh.p2p.generator.entities.P2pProduct" >
    insert into p2p_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="lowestMoney != null" >
        lowest_money,
      </if>
      <if test="rate != null" >
        rate,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="timeline != null" >
        timeline,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="allMoney != null" >
        all_money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="lowestMoney != null" >
        #{lowestMoney,jdbcType=DOUBLE},
      </if>
      <if test="rate != null" >
        #{rate,jdbcType=REAL},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="timeline != null" >
        #{timeline,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="allMoney != null" >
        #{allMoney,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wyh.p2p.generator.entities.P2pProductExample" resultType="java.lang.Integer" >
    select count(*) from p2p_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update p2p_product
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.lowestMoney != null" >
        lowest_money = #{record.lowestMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.rate != null" >
        rate = #{record.rate,jdbcType=REAL},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=TINYINT},
      </if>
      <if test="record.timeline != null" >
        timeline = #{record.timeline,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.allMoney != null" >
        all_money = #{record.allMoney,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update p2p_product
    set id = #{record.id,jdbcType=INTEGER},
      lowest_money = #{record.lowestMoney,jdbcType=DOUBLE},
      rate = #{record.rate,jdbcType=REAL},
      state = #{record.state,jdbcType=TINYINT},
      timeline = #{record.timeline,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      all_money = #{record.allMoney,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wyh.p2p.generator.entities.P2pProduct" >
    update p2p_product
    <set >
      <if test="lowestMoney != null" >
        lowest_money = #{lowestMoney,jdbcType=DOUBLE},
      </if>
      <if test="rate != null" >
        rate = #{rate,jdbcType=REAL},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="timeline != null" >
        timeline = #{timeline,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="allMoney != null" >
        all_money = #{allMoney,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wyh.p2p.generator.entities.P2pProduct" >
    update p2p_product
    set lowest_money = #{lowestMoney,jdbcType=DOUBLE},
      rate = #{rate,jdbcType=REAL},
      state = #{state,jdbcType=TINYINT},
      timeline = #{timeline,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      all_money = #{allMoney,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>